.emoji{
    position: fixed;
    width: 130px;
    left: -130px;
    bottom: 0;
}

@keyframes show {
    0% {
        left: -130px;
    }

    50% {
        left: 0px;
    }

    100% {
        left: -130px;
    }
}

.emoji.show{
    animation: ease-in-out;
    animation-name: show;
    animation-duration: 3s;

}